<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SectionBuilder_BillingGraphQl">
        <sequence>
            <module name="SectionBuilder_Billing"/>
            <module name="SectionBuilder_ProductGraphQl"/>
            <module name="Xpify_MerchantGraphQl"/>
            <module name="Xpify_PricingPlanGraphQl"/>
        </sequence>
    </module>
</config>
