<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Xpify\PricingPlan\Api\Data\PricingPlanInterface" type="Xpify\PricingPlan\Model\PricingPlan"/>
    <preference for="Xpify\PricingPlan\Api\PricingPlanRepositoryInterface" type="Xpify\PricingPlan\Model\PricingPlanRepository"/>
    <preference for="Xpify\PricingPlan\Api\Data\SearchResultsInterface"
                type="Xpify\PricingPlan\Model\SearchResults" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="xpify_pricing_plan_listing_data_source" xsi:type="string">
                    Bss\CompanyAccount\Model\ResourceModel\SubRole\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Xpify\PricingPlan\Model\ResourceModel\PricingPlan\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="const">Xpify\PricingPlan\Model\ResourceModel\PricingPlan::MAIN_TABLE</argument>
            <argument name="eventPrefix" xsi:type="string">xpify_pricingPlan_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">xpify_pricingPlan_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Xpify\PricingPlan\Model\ResourceModel\PricingPlan</argument>
        </arguments>
    </type>

    <virtualType name="Xpify\PricingPlan\Model\Api\SearchCriteria\CollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Xpify\PricingPlan\Model\PricingPlanRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Xpify\PricingPlan\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
</config>
