<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Xpify_Core::xpify_management">
                    <resource id="Xpify_Merchant::merchants" title="Merchants" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
