<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SectionBuilder_Category::category_management"
             title="Category"
             translate="title"
             module="SectionBuilder_Category"
             sortOrder="20"
             resource="SectionBuilder_Category::category_management"
             action="section_builder/category"
             parent="SectionBuilder_Core::section_builder_management"
        />
    </menu>
</config>
