<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SectionBuilder_Core::section_builder_management">
                    <resource id="SectionBuilder_Tag::tag_management" title="Manage Tag" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
