<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SectionBuilder_Product::product_management"
             title="Product"
             translate="title"
             module="SectionBuilder_Product"
             sortOrder="10"
             resource="SectionBuilder_Product::product_management"
             action="section_builder/product"
             parent="SectionBuilder_Core::section_builder_management"
        />
    </menu>
</config>
