<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SectionBuilder_Core" version="1.0.0">
        <sequence>
            <module name="Xpify_App" />
            <module name="Xpify_Auth" />
            <module name="Xpify_PricingPlan" />
        </sequence>
    </module>
</config>
