<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  DISABLE INDEXER  -->
    <preference for="Magento\Framework\Indexer\ConfigInterface" type="Xpify\Core\Model\Deprecated\Indexer\Config" />
    <preference for="Magento\Theme\Setup\RecurringData" type="Xpify\Core\Model\Deprecated\Theme\RecurringData"/>
    <preference for="Magento\Customer\Setup\RecurringData" type="Xpify\Core\Model\Deprecated\Theme\RecurringData"/>
    <preference for="Magento\Customer\Model\Indexer\Attribute\Filter" type="Xpify\Core\Model\Deprecated\Customer\IndexerAttributeFilter"/>
    <preference for="Magento\CatalogInventory\Setup\Patch\Data\UpdateStockItemsWebsite" type="Xpify\Core\Model\Deprecated\CatalogInventory\UpdateStockItemsWebsite"/>
    <preference for="Magento\CatalogSearch\Setup\Patch\Data\SetInitialSearchWeightForAttributes" type="Xpify\Core\Model\Deprecated\CatalogSearch\SetInitialSearchWeightForAttributes"/>
    <!-- /END DISABLE INDEXER DECLARE  -->
    <!--  DISABLE SEARCH ENGINE  -->
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="none" xsi:type="string">none</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="none" xsi:type="string">none</item>
            </argument>
            <argument name="defaultEngine" xsi:type="string">none</argument>
        </arguments>
    </type>
    <type name="Magento\Setup\Model\SearchConfigOptionsList">
        <plugin name="disable_search_engine" type="Xpify\Core\DisableSearchEngine\SearchConfigOptionsList" sortOrder="1000"/>
    </type>
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="none" xsi:type="string">Xpify\Core\DisableSearchEngine\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="none" xsi:type="string">Xpify\Core\DisableSearchEngine\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="none" xsi:type="string">Magento\AdvancedSearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>
    <!-- /END DISABLE SEARCH ENGINE DECLARE  -->
</config>
